@media (min-width: 40em){


    nav ul {
        list-style-type: none;
        display: flex;
        gap: 10px;
    }

    .menu-toggle {
        display: none;
    }


    .discover-layout {
        grid-template-columns: 1fr 3fr;
    }
    
    .gallery figure:hover img {
        transform: scale(1.05);
        transition: transform 0.3s ease;
        filter: brightness(0.9);
    }

}